* {
    text-align: center;
}

body {
    background-color: black;
    background-image: url('img/emoji.png');
}

h1{
    font-size: 4rem;
    padding-top: 10rem;
}

.container {
    background-image: url('img/window.png');
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}

.bigger-text{
    color: blueviolet;
    font-size: 1.5rem;
}

.container header{
    color: blueviolet;
}
